.page {
  color: black;
  box-shadow: 10px 10px 20px black;
}

.page{
  width: 800px;
  display: block;
  margin: 50px auto;
  box-shadow: 0 0 45 0 black;
}
ol li{
  height: 40px;
}
ol div{
  width: 100px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}